{# govuk-organisation-colour("department-for-transport") #}
{%- set themeColor = themeColor | default("#006853", true) -%}

{% extends "govuk/template.njk" %}
{% from "ate/macros/icons.njk" import ateIcons %}
{% from "ate/components/ate-header/macro.njk" import ateHeader %}
{% from "ate/components/ate-footer/macro.njk" import ateFooter %}

{% block headIcons %}
    {{ ateIcons({
        assetPath: assetPath,
        themeColor: themeColor
    }) }}
{% endblock %}

{% block govukHeader %}
    {{ ateHeader({
        assetPath: assetPath
    }) }}
{% endblock %}

{% block govukFooter %}
    {{ ateFooter({}) }}
{% endblock %}
