{%- set assetPath = assetPath | default("/plugin-assets/%40active-travel-england%2Fate-frontend/src/ate/assets") -%}
{# govuk-organisation-colour("department-for-transport") #}
{%- set themeColor = themeColor | default("#006853", true) -%}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block headIcons %}
    <link rel="icon" sizes="48x48" href="{{ assetPath }}/ate-icons/favicon.ico">
    <link rel="icon" sizes="any" href="{{ assetPath }}/ate-icons/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="{{ assetPath }}/ate-icons/ate-icon-mask.svg" color="{{ themeColor }}">
{% endblock %}

{% block govukHeader %}
    {{ ateHeader({
        assetPath: assetPath
    }) }}
{% endblock %}

{% block govukFooter %}
    {{ ateFooter({
        meta: {
            items: footerItems,
            visuallyHiddenTitle: "Footer links"
        }
    }) }}
{% endblock %}
