{%- set assetPath = assetPath | default("/plugin-assets/ate-frontend/src/ate/assets") -%}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block headIcons %}
    <link rel="icon" sizes="any" href="{{ assetPath }}/ate-icons/favicon.svg" type="image/svg+xml">
{% endblock %}

{% block govukHeader %}
    {{ ateHeader({
        assetPath: assetPath
    }) }}
{% endblock %}

{% block govukFooter %}
    {{ ateFooter({
        meta: {
            items: footerItems,
            visuallyHiddenTitle: "Footer links"
        }
    }) }}
{% endblock %}
