{%- set assetPath = assetPath | default("/plugin-assets/%40active-travel-england%2Fate-frontend/dist/ate/assets") -%}
{# govuk-organisation-colour("department-for-transport") #}
{%- set themeColor = themeColor | default("#006853", true) -%}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "ate/macros/icons.njk" import ateIcons %}

{% block headIcons %}
    {{ ateIcons({
        assetPath: assetPath,
        themeColor: themeColor
    }) }}
{% endblock %}

{% block govukHeader %}
    {{ ateHeader({
        assetPath: assetPath
    }) }}
{% endblock %}

{% block govukFooter %}
    {{ ateFooter({
        meta: {
            items: footerItems,
            visuallyHiddenTitle: "Footer links"
        }
    }) }}
{% endblock %}
