{% extends "ate/layouts/prototype/service-template.njk" %}

{% block pageTitle %}
    ATE service page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


{% endblock %}
