{% macro ateIcons(params) %}
    <link rel="icon" sizes="48x48" href="{{ params.assetPath }}/ate-icons/favicon.ico">
    <link rel="icon" sizes="any" href="{{ params.assetPath }}/ate-icons/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="{{ params.assetPath }}/ate-icons/ate-icon-mask.svg" color="{{ params.themeColor }}">
    <link rel="apple-touch-icon" href="{{ params.assetPath }}/ate-icons/ate-icon-180.png">
    <link rel="manifest" href="{{ params.assetPath }}/ate-icons/manifest.json">
{% endmacro %}
