{% from "govuk/components/generic-header/macro.njk" import govukGenericHeader -%}

{% set logoContent %}
  <img class="ate-header__logotype" src="{{ params.assetPath }}/ate-header/ate-logo-white.png" alt="Active Travel England"/>
  <img class="ate-header__logotype--focus" src="{{ params.assetPath }}/ate-header/ate-logo-black.png" alt="Active Travel England"/>
{% endset %}

{{ govukGenericHeader({
  logoHtml: logoContent,
  url: params.homepageUrl | default("//gov.uk", true),
  classes: "ate-header"
}) }}
